$border-radius              : .1875rem;

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}

form {
    margin-bottom: 0rem;
}

nav.top-bar, .row .filter-row {
    margin-bottom: 1.25rem;
}

.top-bar-section {
    & > li:not(.has-form) {
        & > a:not(.button) {
            padding: 0 13px;
        }
    }
}

.man-name {
    transition: all 0.25s ease;
    text-transform: capitalize;
    padding: 2px;

    &:hover {
        background-color: #E18728;
        color: #333;
    }

    &.highlight {
        background-color: #0c0;
    }
}

.letter {
    text-transform: uppercase;
}

.ctr-add, .ctr-filter {
    position: relative;

    input[type="text"] {
        position: relative;
        left: -1px;
    }

    .button {
        position: absolute;
        right: 0.9375rem;
        width: 6.25rem;
        padding-top: 12px;
        padding-bottom: 13px;
        z-index: 100;

        &.radius {
            border-radius: 0rem $border-radius $border-radius 0rem;
        }
    }
}

.ctr-add {
    top: 1.125rem;
}

.navigation {
    .button-group {
        margin-right: 0rem;
    }

    .button.tiny {
        padding-left: 0.90525rem;
        padding-right: 0.90525rem;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
    }

    li:first-of-type .button.tiny {
        border-left: solid 1px #ccc;
    }

    li:last-of-type .button.tiny {
        border-right: solid 1px #ccc;
    }

    .alert-messages {
        position: absolute;
        top: 0rem;
        width: 97%;
        margin-right: 20px;
        padding: 10px 14px;
        display: none;
    }
}
